.NavbarItems{
    background-color: white;
    height: 5.8vh;
    min-height: 40px;
   
    font-size: 1.2 rem;
    display: flex;
    flex-direction: row;
}
nav li {
    display: inline;
}

.navbar-logo{
    
    cursor: pointer;
}

.logo-mathly{

    position: absolute;
    left: 1vw;
    top: .9vh;
    font-size: 1.6rem;
}
.nav-links{
    position: absolute;
    align-items: center;
    right: 10vw;
    background-color: grey;
}
.navbar-bottom-line{
    -webkit-box-shadow: 0 7px 4px -4px rgb(220, 220, 220);
   -moz-box-shadow: 0 7px 4px -4px rgb(220, 220, 220);
        box-shadow: 0 7px 4px -4px rgb(220, 220, 220);
}