.NavbarItems{
    background-color: white;
    height: 5.8vh;
    min-height: 40px;
   
    font-size: 1.2 rem;
    display: flex;
    flex-direction: row;
}
nav li {
    display: inline;
}

.navbar-logo{
    cursor: pointer;
}

.logo-mathly{
    position: absolute;
    left: 1vw;
    top: .9vh;
    font-size: 1.6rem;
}
.nav-links{
    position: absolute;
    top: 0;
    right: 0;
    left: 86vw;
}
.nav-home{
    position: absolute; 
    top: .8vh;
    left: 0;
    background-color: #EBEBEB;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
}
.nav-logout{
    position: absolute;
    right: 4vw;
    top: .6vh;
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
    background-color:#EBEBEB;
    border-radius: 20% / 50%;
    width: 7vw;
    height: 2.5vw;
}
.nav-logout span{
    position: relative;
    top: .5vh;
}
.nav-home img{
    position: relative; 
    top: .5vh; 
}
.nav-user-profile{
    position: absolute;
    right: 1.1vw;
    top: .9vh;
}
.navbar-bottom-line{
    -webkit-box-shadow: 0 7px 4px -4px rgb(220, 220, 220);
   -moz-box-shadow: 0 7px 4px -4px rgb(220, 220, 220);
        box-shadow: 0 7px 4px -4px rgb(220, 220, 220);
}