.board{

}
#rcorners4 {
    border-radius: 30px;
    background: #E8E8E8;
    width: 1029px;
    height: 54px;
}
.tutorial-step{
    border-radius: 30px;
    font-size: xx-large;
}
.container-controller{
    position:absolute;
    bottom: 5vw;
    width: 100vw;
}
.container-bar{
    height: 1.3vh;
    width: 54vw;
    border-radius: 25px;
    margin: auto;
}

.filler-bar{
    height: 100%;
    border-radius: inherit;
    text-align: left;
    transition: width 0.4s ease-in-out;
}
.label-bar{
    padding: 5;
    color: white;
    font-weight: bold;
}

.player-control-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.previous-btn{
    transform: scaleX(-1); 
    margin: auto 0.5%;
}

.play-btn{
    margin-top: 0.5rem;
}

.next-btn{
    margin: auto 0.5%;
}