.board{
    padding-top: 3.8vw;
    height: 84vh;
    max-height: 1040px;
    display: flex;
    flex-direction: column;
}
#rcorners4 {
    border-radius: 30px;
    background: #E8E8E8;
    width: 1029px;
    height: 54px;
}
.tutorial-step{
    position: relative;
    font-size: 2vw;
    height: 65vh;
    font-family: 'Permanent Marker', cursive;  
}
.tutorial-username{
    position: absolute;
    bottom: .3vw;
    right: 3vw;
    font-size: 3vw;  
}
.promt-wrapper{
    position: relative;
    text-align: left;
    padding-left: 14vw;
   
}
.promt{
    font-size: 2.3vw;
}
.promt-text{
   
}
.promt-math{
    font-family: 'Noto Sans TC', sans-serif;
}

.step-wrapper{
    padding-top: 4vw;
}
.step{
    display: flex;
    flex-direction: row;
    padding: 1vh;
    
    position: relative;
}
.step-text{
    position: relative;
    left: 26vw; 

}
.step-math{
    position: absolute;
    left: 50vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.8vw;
    top: 0.7vw;
}

.tutorial-controller{
    justify-content: center;
}
.container-bar{
    height: 1.3vh;
    width: 54vw;
    border-radius: 25px;
    margin: auto;
}

.filler-bar{
    height: 100%;
    border-radius: inherit;
    text-align: left;
    transition: width 0.4s ease-in-out;
}
.label-bar{
    padding: 5;
    color: white;
    font-weight: bold;
}

.player-control-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-btn{
    transform: scaleX(-1); 
    margin: auto 0.5%;
}

.play-btn{
    margin-top: 0.5rem;
}

.next-btn{
    margin: auto 0.5%;
}